<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AdminBookingConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\User\Source\Repos\TPEndOfYear\App_Data\TestDatabase.mdf;Integrated Security=True"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>