<?xml version="1.0"?>
<configuration>
  <!--
  <system.webServer>
    <directoryBrowse enabled="true" />
</system.webServer>
	
	<system.web>
    

		<compilation debug="true" targetFramework="4.0">

<assemblies>
<add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
<add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
</assemblies>
</compilation>
 <customErrors mode="Off"/>
 <authentication mode="Windows"/>
	</system.web>
 
 <connectionStrings>                                 
  <add name="AdminBookingConnectionString"  
       connectionString="Data Source=SQL5025.myASP.NET;Initial Catalog=DB_A104DF_mydb;User Id=DB_A104DF_mydb_admin;Password=06de1991" />
</connectionStrings>
-->
  
  <connectionStrings>
    <add name="AdminBookingConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Siraaj Wilkinson\Source\Repos\TPEndOfYear\App_Data\TestDatabase.mdf;Integrated Security=True"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  
 <system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
</configuration>


















